/*  =================== css ================== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  vertical-align: middle;
}

.container {
  max-width: 1340px;
  margin: auto;
}

/*  =================== css ================== */
